.grid-img-container {
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  box-shadow: 6px 10px 10px rgba(61, 57, 57, 0.9);
  border-radius: 25px;
  outline: 0px solid black;
  transition: 0.2s;
}

.grid-img-container:hover{
  box-sizing: border-box;
  border-radius: 25px;
  outline: 5px solid black;
  transition: 0.1s;
}
  
.grid-img-search {
  height: 360px;
  width: 360px;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  z-index: 0;
  box-shadow: 6px 10px 10px rgba(61, 57, 57, 0.9);
}

.grid-img-favorites {
  height: 360px;
  width: 360px;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: all 0.2s ease-in-out;
  z-index: 0;
  
}
  
.grid-img__icons {
  width: 100%;
  height: 10%;
  padding: 0 1rem;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 5px;
  left: 0;
  /*background: rgba(0, 0, 0, 0.25);*/
  z-index: 0;
}

.grid-img__icons p {
  color: white;
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}

.grid-img img {
  height: 100%;
}

.grid-img:hover {
  background: rgba(0, 0, 0, 0.25);
  border: 4.5px solid white;
}

.heart-icon{
  filter: drop-shadow(7px 7px 7px #000);
  background-color: transparent;
  padding: 8px;
  border-radius: 0%;
  transition: 0.5s;
}

.heart-icon:hover{
  filter: drop-shadow(5px 5px 10px #000);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transition: 0.5s;
}

.img-data{
  height: 175px;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  text-align: left;
  background: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 18px;
}

.icon-data{
  position: relative;
  top: 5px;
  left: 0px;
}


@media (max-width: 768px) {

  .grid-img-container {
    margin: 0 auto;
    max-width: 300px;
  }
}