.header{
    display: flex;
    background-color: #50586C;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    margin-top: -103px;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-container{
    margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: -12px;
    margin-right: 2rem;
}

.home{
    margin-top: 100px;
}

.header-title{
    font-size: 32px;
    text-decoration: none;
    transition: 0.5s;
    vertical-align: middle;
    text-align: center;
    
}

.nav-links{
    margin-top: 5px;
}

a{
    color: white;
    transition: 0.5s;
}

a:hover{
    color: gray;
    transition: 0.5s;
}

.header-link{
    padding: 0px;
    cursor: pointer;
    text-decoration: none;
    font-size: 34px;
}

#search-link{
    margin-right: -12px;
}

.active-link{
    color: #82B1FF;
}

.separator{
    margin-bottom: -16px;
    padding: 6px;
}

span{
    display: none;
}



@media only screen and (min-width: 860px) {
    

    .header-container{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .header-title{
        font-size: 56px;
    }

    .nav-links{
        margin-top: -5px;
    }

    .header-link{
        padding: 12px;
    }

    #search-link{
        margin-right: 0px;
    }
    
    .separator{
        margin-bottom: -22px;
        padding: 12px;
    }

    span{
        display: inline-block;
    }
}