.footer{
  padding: 1px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;
  background-color: #50586C;
  width: 100%;
}

.footer p{
  justify-content: center;
  margin: 0 auto;
  padding: 12px;
  padding-left: 10px;
  padding-right: 10px;
  display : flex;
  align-items : center;
}

.footer a{
  font-size: 14px;
  color: white;
  display : flex;
  align-items : center;
  padding-left: 8px;
  padding-right: 8px;
}

.footer a:hover{
  color: black;
  box-shadow: inset 400px 0 0 0 #82B1FF;
}

@media only screen and (max-width: 500px) {
  .footer a{
    font-size: 10px;
  }
}