.search-container{
  margin-top: 100px;
}

#search-form{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 50%;
  min-width: 700px;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.search-input:focus {
  outline: none;
}

.input-group{
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  position: relative;
}

.icon-container{
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: .75rem;
  color: white;
}

.search-input{
  box-sizing: border-box;
  margin: 0;
  display: block;
  width: 100%;
  border-radius: 10px;
  background-color: #50586C;
  padding: 1rem;
  padding-left: 3rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
  color: white;
  border: none;
  outline-color: black;
  outline-style: 1px solid black;
  box-shadow: 6px 10px 10px rgba(61, 57, 57, 0.9);
  letter-spacing: .1rem;
  position: relative;
}

::placeholder{
  color: white;
  font-size: 18px;
}

.submit-button{
  margin: 0;
  cursor: pointer;
  position: absolute;
  right: 0.4rem;
  bottom: 0.25rem;
  border-radius: 10px;
  padding: 0.75rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
  transition: 0.5s;
  background-color: white;
  border: none;
}

.submit-button:hover{
  background-color: rgb(205, 205, 205);
  transition: 0.5s;
}

.main-content {
  width: 90%;
  padding: 8rem 0 8rem 0;
  margin: auto;
}

.main-content__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 2rem;
}

.loading {
  all: unset;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 50px;
}

.no-image{
  max-width: 320px;
  margin-top: 20px;
}
  
.grid-img__info-icon {
  padding-right: 1rem;
  padding-left: 0.8rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  text-align: right;
  top: 285px;
  right: 0px;
  left: 0;
}

@media only screen and (max-width: 859px){
  #search-form{
    margin-top: 0rem;
    width: 100%;
    min-width: auto;
  }

  .loading {
    margin-top: 0px;
  }

  .search-input{
    letter-spacing: 0rem;
  }
}