*{
  font-family: 'Roboto Slab', serif;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.Toastify__toast {
  margin-bottom: 12px !important;
  max-width: 300px;
}

body{
  background-color: #DCE2F0;
  /* overflow: overlay; *//* transparent scrollbar */
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #50586C; 
}
 
::-webkit-scrollbar-thumb {
  background: #82B1FF; 
}

::-webkit-scrollbar-thumb:hover {
  background: white; 
}